.recommendations {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 15%;
    margin: 0.25rem;
}

.recommendations-label {
    font-size: 1.25rem;
    padding: 0.6rem 1.2rem;
}

.recommendations-item {
    font-size: 1rem;
    margin: 0.3rem 0.25rem;
    border: none;
    background-color: #0078D7;
    color: #F3F2F1;
}