.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 20%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.search-bar__input {
    font-size: 2rem;
    max-width: 75%;
    margin: 0.3rem 0.25rem;
    border: none;
    border-radius: 10px;
    padding-left: 1rem;
}

.search-bar__button {
    margin: 0.3rem 0.25rem;
    font-size: 1.5rem;
    border: none;
    background-color: #0078D7;
    color: #F3F2F1;
}

.search-bar__spinner {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.search-result {
    padding: 0.5rem;
}